header {
    margin-bottom: 1rem;

    @include media-breakpoint-up(sm) {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

.logo {
    display: inline-block;
    background-color: white;
    padding: 5px 5px;
    border-radius: 25px;
    width: 50px;
}

.navbar-nav a {
    text-align: center;
}

#topNav {
    overflow: hidden;
    
    a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    
    .icon {
        display: none;
    }
}